<%- include('../partials/head') %>
<body class=" row text-secondary">
    <%- include('../partials/infoUser'); %>
    <%- include('../partials/tablaProductos'); %>
    <%- include('../partials/carrito'); %>
    <!-- <%- include('../partials/chat'); %> -->
    <script src="main.js"></script>
</body>
</html>